@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "./base/mixins" as *;


.rect {
    opacity: 0.8;
    position : absolute;
    background-color : #1ABC9C;
    border-radius : 3px;
    box-shadow: 0 8px 6px -6px rgb(63, 63, 63);;
}